/test/01_demo/data/preProcess/labeledTrain.csv
/test/01_demo/data/word2Vec.bin
/test/01_demo/data/corpus.txt
/test/01_demo/data/summarys
/test/01_demo/data/model
/test/01_demo/data/model/model.rar
/test/02_chinese_corpus/data/corpus_6_4000/
/test/02_chinese_corpus/data/labeledTrainData.csv
/test/03_short_sentence/data/msg.txt
/tools/
